<main class="bg-background-50">
  <%!--
    <div id="flash-notifications">
      <.flash_group flash={@flash} />
    </div>
  --%>
  <div id="toast-notifications">
    <Toast.toast_group flash={@flash} />
  </div>

  {@inner_content}
</main>
