<!DOCTYPE html>
<html lang="en">
  <.head conn={@conn} />

  <body class="leading-normal text-slate-700 bg-gradient-to-br from-slate-50 via-slate-50 to-slate-100 dark:text-slate-300 dark:bg-gradient-to-br dark:from-slate-900 dark:via-slate-900 dark:to-slate-800 min-h-screen">
    {@inner_content}
  </body>
</html>
