<!DOCTYPE html>
<html lang="en" class="scroll-smooth [scrollbar-gutter:stable]">
  <.head conn={@conn} />

  <body class="text-gray-600 bg-white dark:text-gray-400 dark:bg-gray-950">
    {@inner_content}
  </body>
</html>
