# fly.toml app configuration file generated for mosslet on 2024-06-29T13:57:04-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mosslet"
kill_signal = "SIGTERM"

primary_region = "ewr"

[mounts]
  source = "bumblebee_cache"
  destination = "/data/bumblebee"
  initial_size = "3gb"

[deploy]
  release_command = "/app/bin/migrate"

[env]
  DNS_CLUSTER_QUERY = "mosslet.internal"
  PHX_HOST = "mosslet.com"
  PORT = "8080"
  BUMBLEBEE_CACHE_DIR = "/data/bumblebee"
  BUMBLEBEE_OFFLINE = "false"
  

[http_service]
  internal_port = 8080
  force_https = true
  min_machines_running = 2
  auto_stop_machines = "suspend"
  auto_start_machines = true
  processes = ["app"]

  [http_service.concurrency]
    type = "connections"
    hard_limit = 500
    soft_limit = 400

  [http_service.checks]
    [http_service.checks.health]
      interval = "10s"
      timeout = "5s"
      grace_period = "30s"
      path = "/health"

[[vm]]
  memory = "2gb"
  cpu_kind = "shared"
  cpus = 2
