name: Elixir CI
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
      AVATARS_BUCKET: ${{ secrets.AVATARS_BUCKET }}
      BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      BUMBLEBEE_OFFLINE: ${{ secrets.BUMBLEBEE_OFFLINE }}
      C_INCLUDE_PATH: ${{ secrets.C_INCLUDE_PATH }}
      CLOAK_KEY: ${{ secrets.CLOAK_KEY }}
      CLOAK_KEY_TAG: ${{ secrets.CLOAK_KEY_TAG }}
      DNS_CLUSTER_QUERY: ${{ secrets.DNS_CLUSTER_QUERY }}
      FLY_REGION: ${{ secrets.FLY_REGION }}
      HMAC_SECRET: ${{ secrets.HMAC_SECRET }}
      LIBRARY_PATH: ${{ secrets.LIBRARY_PATH }}
      LIVE_VIEW_ENCRYPTION_SALT: ${{ secrets.LIVE_VIEW_ENCRYPTION_SALT }}
      LIVE_VIEW_SIGNING_SALT: ${{ secrets.LIVE_VIEW_SIGNING_SALT }}
      PKG_CONFIG_PATH: ${{ secrets.PKG_CONFIG_PATH }}
      PLUG_ATTACK_IP_SECRET: ${{ secrets.PLUG_ATTACK_IP_SECRET }}
      PRIMARY_REGION: ${{ secrets.PRIMARY_REGION }}
      SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
      SERVER_PRIVATE_KEY: ${{ secrets.SERVER_PRIVATE_KEY }}
      SERVER_PUBLIC_KEY: ${{ secrets.SERVER_PUBLIC_KEY }}
      SESSION_ENCRYPTION_SALT: ${{ secrets.SESSION_ENCRYPTION_SALT }}
      SESSION_SIGNING_SALT: ${{ secrets.SESSION_SIGNING_SALT }}

    # Run PostgreSQL as a service
    services:
      postgres:
        image: postgres:15.2
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: mosslet_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Setup Erlang and Elixir
      - name: Set up Erlang and Elixir
        uses: erlef/setup-beam@v1
        id: setup-beam
        with:
          version-file: .tool-versions
          version-type: strict

      # Install Rebar3
      - name: Install Rebar3
        run: |
          wget https://github.com/erlang/rebar3/releases/download/3.24.0/rebar3 
          chmod +x rebar3
          sudo mv rebar3 /usr/local/bin/rebar3
          rebar3 --version

      - name: Install libsodium
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev

      # Cache dependencies
      - name: Cache deps
        uses: actions/cache@v4
        id: cache-deps
        with:
          path: deps
          key: deps-v6-${{ runner.os }}-${{ steps.setup-beam.outputs.otp-version }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}

      # Install dependencies
      - name: Get and compile dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.clean req postgrex --build
          mix deps.get req
          mix deps.get postgrex
          mix deps.compile req --force
          mix deps.compile postgrex --force
          mix deps.get
          mix deps.compile

      # Compile project
      - name: Compile project
        run: mix compile --warnings-as-errors

      # Check formatting
      - name: Check Formatting
        run: mix format --check-formatted

      # Create database and run migrations
      - name: Create and migrate database
        env:
          MIX_ENV: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: |
          mix ecto.create
          mix ecto.migrate

      # Run tests
      - name: Run tests
        env:
          MIX_ENV: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: mix test

      - name: Cache plt files
        uses: actions/cache@v4
        with:
          path: |
            priv/plts
          key: plt-${{ runner.os }}-${{ steps.setup-beam.outputs.otp-version }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            plt-${{ runner.os }}-${{ steps.setup-beam.outputs.otp-version }}-${{ steps.setup-beam.outputs.elixir-version }}-

      # Run dialyzer for type checking
      # disable until elixir 1.19 and erlang 28 bugs fixed
      # - name: Dialyzer static analysis
      #  run: mix dialyzer --format github

      # Clean outdated dependencies
      - name: Check unused dependencies
        run: mix deps.unlock --check-unused
